@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root {
    /*colors*/
    --red: hsl(0, 100%, 68%); /*button*/
    --Very-Dark-Blue: hsl(230, 29%, 20%);/*header text*/
    --Dark-Grayish-Blue: hsl(230, 11%, 40%); /*small text*/
    --Grayish-Blue: hsl(231, 7%, 65%); /*??*/
    --Light-Grayish-Blue: hsl(207, 33%, 95%); /*bg?*/
    /*fonts*/
    --font-size: 18px;
    --font-family-body: "Barlow";
    --font-family-other: "Barlow Condensed";
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;

}

.container {
    
}